<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.BzbhxxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Bzbhxx">
        <id column="BZBHXXID" property="bzbhxxid" />
        <result column="MXBHBH" property="mxbhbh" />
        <result column="MXDD" property="mxdd" />
        <result column="TCDW" property="tcdw" />
        <result column="TCDWDM" property="tcdwdm" />
        <result column="BHYSHSHJWJM" property="bhyshshjwjm" />
        <result column="BHCHLSHJWJM" property="bhchlshjwjm" />
        <result column="MXBHTPWJM" property="mxbhtpwjm" />
        <result column="MXBHTPLJ" property="mxbhtplj" />
        <result column="MXBHLJ" property="mxbhlj" />
        <result column="MXTXZP" property="mxtxzp" />
        <result column="MXDJG" property="mxdjg" />
        <result column="MXDSH" property="mxdsh" />
        <result column="MXBHLY" property="mxbhly" />
        <result column="MXBHLX" property="mxbhlx" />
        <result column="MXBHDJ" property="mxbhdj" />
        <result column="MXBHCXCHC" property="mxbhcxchc" />
        <result column="MXBHDTZB" property="mxbhdtzb" />
        <result column="MXBHZHXWZH" property="mxbhzhxwzh" />
        <result column="MXBHPJJSHD" property="mxbhpjjshd" />
        <result column="MXBHPJKXL" property="mxbhpjkxl" />
        <result column="MXBHPJHSHL" property="mxbhpjhshl" />
        <result column="MXBHTZCSH1" property="mxbhtzcsh1" />
        <result column="MXBHTZCSH2" property="mxbhtzcsh2" />
        <result column="MXBHTZCSH3" property="mxbhtzcsh3" />
        <result column="MXBHTZCSH4" property="mxbhtzcsh4" />
        <result column="companyid" property="companyid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BZBHXXID, MXBHBH, MXDD, TCDW, TCDWDM, BHYSHSHJWJM, BHCHLSHJWJM, MXBHTPWJM, MXBHTPLJ, MXBHLJ, MXTXZP, MXDJG, MXDSH, MXBHLY, MXBHLX, MXBHDJ, MXBHCXCHC, MXBHDTZB, MXBHZHXWZH, MXBHPJJSHD, MXBHPJKXL, MXBHPJHSHL, MXBHTZCSH1, MXBHTZCSH2, MXBHTZCSH3, MXBHTZCSH4, companyid
    </sql>

</mapper>
