<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.ControlpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Controlp">
        <id column="pointid" property="pointid" />
        <result column="sourceP" property="sourceP" />
        <result column="targetP" property="targetP" />
        <result column="sourceGps" property="sourceGps" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pointid, sourceP, targetP, sourceGps
    </sql>

</mapper>
