<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.CxtcldsjccxxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Cxtcldsjccxx">
        <id column="CXTCLDSJCCXXID" property="cxtcldsjccxxid" />
        <result column="YSHSHJWJM" property="yshshjwjm" />
        <result column="YSHSHJWJLJ" property="yshshjwjlj" />
        <result column="CHLSHJWJM" property="chlshjwjm" />
        <result column="CHLSHJWJLJ" property="chlshjwjlj" />
        <result column="GPSWJLJ" property="gpswjlj" />
        <result column="GPSWJM" property="gpswjm" />
        <result column="SHPTXWJLJ" property="shptxwjlj" />
        <result column="SHJSWJM" property="shjswjm" />
        <result column="CXWZXXID" property="cxwzxxid" />
        <result column="CXWZTCYQJCJCSXXID" property="cxwztcyqjcjcsxxid" />
        <result column="shjbh" property="shjbh" />
        <result column="addtime" property="addtime" />
        <result column="tdrFilePath" property="tdrFilePath" />
        <result column="tdrFileName" property="tdrFileName" />
        <result column="zhzyFilePath" property="zhzyFilePath" />
        <result column="zhzyFileName" property="zhzyFileName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CXTCLDSJCCXXID, YSHSHJWJM, YSHSHJWJLJ, CHLSHJWJM, CHLSHJWJLJ, GPSWJLJ, GPSWJM, SHPTXWJLJ, SHJSWJM, CXWZXXID, CXWZTCYQJCJCSXXID, shjbh, addtime, tdrFilePath, tdrFileName, zhzyFilePath, zhzyFileName
    </sql>

</mapper>
