<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.CxwztcyqjcjcsxxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Cxwztcyqjcjcsxx">
        <id column="CXWZTCYQJCJCSXXID" property="cxwztcyqjcjcsxxid" />
        <result column="YQCSBH" property="yqcsbh" />
        <result column="TXBH" property="txbh" />
        <result column="TXPL" property="txpl" />
        <result column="ZJXH" property="zjxh" />
        <result column="SHJCH" property="shjch" />
        <result column="CYDSH" property="cydsh" />
        <result column="ZHDSH" property="zhdsh" />
        <result column="CHFFSH" property="chffsh" />
        <result column="CJLKZHDJJ" property="cjlkzhdjj" />
        <result column="GPSCJDJG" property="gpscjdjg" />
        <result column="SHPTXDJG" property="shptxdjg" />
        <result column="DJJ" property="djj" />
        <result column="CXWZXXID" property="cxwzxxid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CXWZTCYQJCJCSXXID, YQCSBH, TXBH, TXPL, ZJXH, SHJCH, CYDSH, ZHDSH, CHFFSH, CJLKZHDJJ, GPSCJDJG, SHPTXDJG, DJJ, CXWZXXID
    </sql>

</mapper>
