<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Department">
        <id column="orgid" property="orgid" />
        <result column="orgname" property="orgname" />
        <result column="orgmanager" property="orgmanager" />
        <result column="orgphone" property="orgphone" />
        <result column="orgdescription" property="orgdescription" />
        <result column="orgparentid" property="orgparentid" />
        <result column="companyid" property="companyid" />
        <result column="orgPath" property="orgPath" />
        <result column="orgdate" property="orgdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orgid, orgname, orgmanager, orgphone, orgdescription, orgparentid, companyid, orgPath, orgdate
    </sql>

</mapper>
