<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.FunctionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Function">
        <id column="functionId" property="functionId" />
        <result column="functionName" property="functionName" />
        <result column="funParentId" property="funParentId" />
        <result column="functionTime" property="functionTime" />
        <result column="functionPath" property="functionPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        functionId, functionName, funParentId, functionTime, functionPath
    </sql>

</mapper>
