<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Log">
        <id column="ID" property="id" />
        <result column="RZM" property="rzm" />
        <result column="RZSJ" property="rzsj" />
        <result column="RZNR" property="rznr" />
        <result column="IP" property="ip" />
        <result column="USERID" property="userid" />
        <result column="rybh" property="rybh" />
        <result column="operationTypes" property="operationTypes" />
        <result column="time" property="time" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, RZM, RZSJ, RZNR, IP, USERID, rybh, operationTypes, time, username
    </sql>

</mapper>
