<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.SpecialauthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Specialauthority">
        <id column="rybh" property="rybh" />
        <result column="xmbh" property="xmbh" />
        <result column="xmmc" property="xmmc" />
        <result column="yhm" property="yhm" />
        <result column="ryxx_id" property="ryxxId" />
        <result column="xmlxxx_id" property="xmlxxxId" />
        <result column="xmlxxxid" property="xmlxxxid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rybh, xmbh, xmmc, yhm, ryxx_id, xmlxxx_id, xmlxxxid
    </sql>

</mapper>
