<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.TrackpointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Trackpoint">
        <id column="trackPointID" property="trackPointID" />
        <result column="endTime" property="endTime" />
        <result column="fileSource" property="fileSource" />
        <result column="startTime" property="startTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trackPointID, endTime, fileSource, startTime
    </sql>

</mapper>
