<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumtb.rdmsspring.mapper.XmjhsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cumtb.rdmsspring.entity.Xmjhs">
        <id column="XMJHSID" property="xmjhsid" />
        <result column="XMJHPATH" property="xmjhpath" />
        <result column="XMJHNAME" property="xmjhname" />
        <result column="XMLXXXID" property="xmlxxxid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        XMJHSID, XMJHPATH, XMJHNAME, XMLXXXID
    </sql>

</mapper>
